<a href="https://colab.research.google.com/github/sushdhake/DFEDATA6-EX-1/blob/master/NOSQL_practice_Mongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
connectionString = "mongodb://asteroid:qeqpcXHLl1NDTOsnAjH0X8ZkAWgEVUYiusxnjGKgAsc4fKnujvSOOBTdFNYoXFLUs4BFGweeKN1fFZKukehPSA==@asteroid.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@asteroid@"
client = pymongo.MongoClient(connectionString)

In [8]:
mydb = client["monkeybar"] # PLEASE DO NOT CHANGE THIS LINE

In [9]:
mycol = mydb["sunny"] # Change collection name 'fish' to anything else that you like!

In [10]:
mydict = { "name": "Author", "address": "Andrews Drive" }

x = mycol.insert_one(mydict)

In [12]:
mydict = { "name": "Snail", "age": 20 }

x = mycol.insert_one(mydict)

In [13]:
r2 = { "name": "Snail", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [14]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('6213b4747f77172483cdaa05'), 'name': 'Author', 'address': 'Andrews Drive'}
{'_id': ObjectId('6213b4e47f77172483cdaa06'), 'name': 'Snail', 'complex': {'name': 'Author', 'address': 'Andrews Drive', '_id': ObjectId('6213b4747f77172483cdaa05')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6213b4f17f77172483cdaa07'), 'name': 'Snail', 'age': 20}
{'_id': ObjectId('6213b4f77f77172483cdaa08'), 'name': 'Snail', 'complex': {'name': 'Snail', 'age': 20, '_id': ObjectId('6213b4f17f77172483cdaa07')}, 'subjects': ['eng', 'fr', 'gt']}

In [15]:
for x in mycol.find({"name":"Snail", "age":20}).limit(1):
  print(x)

{'_id': ObjectId('6213b4f17f77172483cdaa07'), 'name': 'Snail', 'age': 20}

In [16]:
myquery = { "name": { "$regex": "r$" } } # for example, this is a 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6213b4747f77172483cdaa05'), 'name': 'Author', 'address': 'Andrews Drive'}